.skills {
    width: 75%;
    margin: 0 auto;
    font-family: raleway;
}
.cv{
    text-align: center;
    margin-top: 60px;
}
.fa-hand-point-down{
    font-size: medium;
    color: #0a1d56;
}
.right{
    transform: scaleX(-1);
}
.skills h1 {
  text-align: center;
  font-family: raleway;
  font-weight: 700;
  font-size: 30px;
  color: #222;
  margin-bottom: 40px;
}
.skills p{
    text-transform: capitalize;
}

button{
    font-family: raleway;
    padding: 15px 30px;
    cursor: pointer;
    text-transform: uppercase;
    word-spacing: 5px;
    outline: none;
    transition: all 0.3s ease;
    background-color: white;
    border: 3px solid #0a1d56;
    color: #0a1d56;
    font-weight: 900;
    font-size: large;
    margin: 20px 0px;
}
button:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.skill {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  align-items: center;
  color: #333;
}
.skill h2 {
  font-family: raleway;
  font-weight: 600;
  font-size: 20px;
  width: 30%;
}
.meter {
  font-family: lato;
  font-weight: 900;
  width: 90%;
  height: 30px;
  display: flex;
  padding: 3px;
  color: #fff;
  border: solid 2px #333;
}
.percentage {
  background-color: #0a1d56;
  display: flex;
  align-items: center;
  justify-content: center;
}
 /* Mobile responsive */
@media screen and (max-width: 768px) {
  #myinfo {
    width: 100%;
    display: flex;
    font-family: raleway;
    flex-direction: column;
    align-items: center;
	}
  .desc p {
    width: 100%;
	}
  .desc {
    margin: 40px 0px;
    width: fit-content;
	}
  .skills {
    width: 100%;
	}
  .skill h2 {
    font-family: raleway;
    font-size: 15px;
    width: 30%;
	}
   .skill {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    align-items: center;
    color: #333;
  }
  .meter {
    font-family: lato;
    font-weight: 900;
    width: 90%;
    height: 20px;
    display: flex;
    padding: 3px;
    color: #fff;
    border: solid 2px #333;
  }
  .percentage {
    background-color: #0a1d56;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  }